# BEGIN BACKUP COMMAND
1 0 * * * /opt/share/rrbackup/backup.sh
# END BACKUP COMMAND

1 0 * * * /opt/share/mem_tracking/print_remaining.sh

1 * * * * /opt/share/mem_tracking/email_if_low.sh

0 9 * * * anonymous=False /home/lindsb/usr/anaconda/bin/jupyter nbconvert --ExecutePreprocessor.timeout=None --execute --to notebook --inplace /home/lindsb/storage-tracking/bokeh-plots.ipynb > /dev/null 2>&1

21 11 * * * crontab -l > /home/lindsb/crontab-backup/crontab ; cd /home/lindsb/crontab-backup ; git add . ; git cm -m "$(date '\%Y-\%m-\%d') Backup" > /dev/null 2>&1

