# BEGIN BACKUP COMMAND
1 0 * * * /opt/share/rrbackup/backup.sh
# END BACKUP COMMAND

1 0 * * * /opt/share/mem_tracking/print_remaining.sh

0 0 */2 * * /opt/share/mem_tracking/email_top_3_if_low.sh

0 */3 * * * /opt/share/mem_tracking/email_group_if_low.sh

0 9 * * * cd /home/lindsb/storage-tracking && /opt/seas/bin/sbatch sub.slurm > /dev/null 2>&1

0 6 * * * (crontab -l > /home/lindsb/crontab-backup/crontab; cd /home/lindsb/crontab-backup; git add .; git cm -m "$(date +'\%Y-\%m-\%d') Backup"; git push origin master) > /dev/null 2>&1

# */10 * * * * if [[ $(ssh -o ConnectTimeout=2 lindsb@rrstorage.synology.me 'cat file.txt') == 'working' ]]; then echo "working $(date)" >> $HOME/rrstorage-check.txt; else echo "NOT WORKING $(date)" >> $HOME/rrstorage-check.txt; echo "NOT WORKING $(date) | mail -s "Not Working" lindsb@seas.upenn.edu; fi

# * * * * * /home/lindsb/ping-rrstorage.sh
